.container {
  max-width: 100%;
  padding: 0px !important;
  align-items: center !important;
  background-color: #0E0D27;
}
.our-team-page {
  padding: 60px !important;
  height: 100%;
  background-color: #0E0D27 !important;
}
.row {
  max-width: 100% !important;
  display: flex;
  margin: 0 auto !important;
  padding: 0px;
}
.row h1 {
  font-weight: 800 !important;
  color: #FFFFFF;
  text-align: left!important;
  font-size: 3rem;
  width: 100%;
}
.team-list {
  margin: 0 auto !important;
  align-items: center !important;
  justify-content: center !important;
}
.team-list .card {
  display: block;
  border-radius: 15px;
  padding: 30px 30px 30px 30px;
  max-width: 700px !important;
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}
.team-list .member-cards {
  padding: 30px !important;
  display: block !important;
}
.team-list .member-cards .member-img {
  width: 137px !important;
  height: 200px !important;
  border-radius: 15px!important;
  float: none;
}
.team-list .member-cards .member-detail {
  display: block;
  padding: 0px 0px 0px 20px !important;
  width: 75% !important;
}
.team-list h4 {
  font-size: 2rem !important;
  font-weight: 700 !important;
  line-height: 2.5rem !important;
}
.team-list img {
  border-radius: 15px !important;
}
.team-list .desc-member {
  font-size: 2rem !important;
  font-weight: 700 !important;
  line-height: 2.5rem !important;
  padding-top: 30px;
}
