.add-body {
  max-width: 100%;
  margin-right: 10px;
  margin-left: auto;
  background-color: #0E0D27 !important;
  height: 1920px !important;
  padding: 0 !important ;
}
.add-body .leftbar-add-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100% !important;
  border-right: 5px solid #613EB0;
}
.add-body .leftbar-add-column .leftbar-add-menus {
  background-color: #0E0D27;
  height: 100% !important;
  padding: 15px 0px 0px 0px !important;
}
.add-body .leftbar-add-column .leftbar-add-menus ul {
  padding: 0;
  margin: 0;
}
.add-body .leftbar-add-column .leftbar-add-menus .leftbar-add-menu {
  height: 80px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  text-align: center;
  border-bottom: 5px solid #613EB0;
}
.add-body .leftbar-add-column .leftbar-add-menus .leftbar-add-menu li {
  text-decoration: none !important;
}
.add-body .leftbar-add-column .leftbar-add-menus .leftbar-add-menu li h2 {
  color: #FFFFFF;
  font-weight: 700;
  padding-left: 40px;
}
.add-body .leftbar-add-column .leftbar-add-menus .leftbar-add-menu:hover {
  background-color: #613EB0;
  text-decoration: none !important;
}
