.card {
  display: inline-block;
  border-radius: 15px;
  margin: 0 auto!important;
  padding: 20px 20px 20px 20px;
  max-width: 700px !important;
}
.card .book-picture {
  width: 137px;
  height: 200px;
  border-radius: 15px;
  float: left;
}
.card .book-detail {
  display: inline-block;
  padding: 0px 0px 0px 20px !important;
  width: 75% !important;
}
.card h2 {
  font-weight: 700 !important;
}
.card h4 {
  font-weight: 700 !important;
  font-size: 1.3rem !important;
  line-height: 0rem !important;
}
.card .paragraph {
  font-weight: 400 !important;
  font-size: 1.3rem !important;
  line-height: 2.3rem !important;
}
.card .more-button {
  margin-top: 20px;
  float: right;
  border-radius: 50px;
  outline: none;
  font-weight: 700;
  font-size: 1.5rem;
  height: 50px;
  width: 180px;
  background-color: #613EB0;
  border: none;
  align-items: center;
}
.card .more-button:hover.more-button:focus {
  background-color: #7a54d3;
  text-decoration: none;
  outline: none !important;
}
.row {
  display: flex !important;
}
@media (max-width: 980px) {
  .book-cards {
    width: 300px !important ;
    min-height: 300px !important;
    margin: 0px auto !important;
    align-items: center !important;
  }
  .book-cards .book-detail {
    width: 100% !important;
    padding: 0px 10px 0px 10px !important;
  }
  .book-cards .more-button {
    float: right;
  }
  .book-cards .book-img {
    width: 270px !important;
    height: 370px !important;
    margin: 0 auto !important;
    border-radius: 20px !important;
  }
  .book-cards .book-img .book-picture {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
  }
}
