.container-manage-book {
  max-width: 100%;
  padding: 60px !important;
  align-items: center !important;
  background-color: #0E0D27;
  height: 100% !important;
  min-height: 1920px;
}
.container-manage-book .leftbar-add-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 10px;
}
.container-manage-book .leftbar-add-column .leftbar-add-menus {
  background-color: #0E0D27;
  height: 1920px !important;
  padding: 15px 0px 0px 0px !important;
  border-right: 5px solid #613EB0;
}
.container-manage-book .leftbar-add-column .leftbar-add-menus ul {
  padding: 0;
  margin: 0;
}
.container-manage-book .leftbar-add-column .leftbar-add-menus .leftbar-add-menu {
  height: 80px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  text-align: center;
  border-bottom: 5px solid #613EB0;
}
.container-manage-book .leftbar-add-column .leftbar-add-menus .leftbar-add-menu .link-menu {
  text-decoration: none !important;
}
.container-manage-book .leftbar-add-column .leftbar-add-menus .leftbar-add-menu .link-menu h2 {
  color: #FFFFFF;
  font-weight: 700;
  padding-left: 40px;
}
.container-manage-book .leftbar-add-column .leftbar-add-menus .leftbar-add-menu:hover {
  background-color: #613EB0;
  text-decoration: none !important;
}
.container-manage-book .temporary-display {
  display: block !important;
  margin: 0  auto !important;
  align-items: center !important;
}
.container-manage-book .main-body {
  width: 100%;
  height: 100%;
}
.container-manage-book .right-column {
  padding: 0px;
}
.container-manage-book h1 {
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: 800 ;
  text-align: center !important;
}
.container-manage-book .login-col {
  padding: 60px;
  align-items: center !important;
}
.container-manage-book .login-col .login-card {
  display: flex;
  margin: 0 auto !important;
  padding-top: 60px;
}
.container-manage-book .login-col h2 {
  text-align: center !important;
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 25px;
}
.container-manage-book .login-col .login-page {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  margin-top: 60px;
}
.container-manage-book .login-col .form-login-card {
  width: 100% ;
}
.container-manage-book .login-col .form-login-card .login-label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-manage-book .login-col .form-login-card .input-field {
  height: 50px;
  background-color: #c4c4c46e;
  float: right;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 30px;
}
.container-manage-book .login-col .form-login-card .login-button {
  margin-top: 20px;
  width: 100px;
  height: 50px !important;
  float: right;
  border-radius: 50px;
  outline: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #613EB0;
  border: none;
}
.container-manage-book .login-col .form-login-card .login-button .login-link {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
