.container-manage-book{
  max-width:100%;
  padding: 60px !important;
  align-items: center !important;
  background-color: #0E0D27;
  // min-height: 1920px;
  height: 100%;
  .leftbar-add-column{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px;
    .leftbar-add-menus{
      background-color:#0E0D27;
      height: 100% !important;
      padding: 15px 0px 0px 0px !important;
      border-right: 5px solid #613EB0;
      ul{
        padding: 0;
        margin: 0;
      }
      .leftbar-add-menu{
        height: 80px !important;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        display:flex;
        text-align: center;
        border-bottom: 5px solid #613EB0;
        .link-menu{
          text-decoration: none !important;
          h2{
            color: #FFFFFF;
            font-weight:700;
            padding-left: 40px;
          }
        }
      }
      .leftbar-add-menu:hover{
        height: 80px !important;
        background-color: #613EB0;
        text-decoration: none !important;
      }
    }
  }
  .temporary-display{
    display: block !important;
    margin: 0  auto !important;
    align-items: center !important;
    padding: 60px;
    height: 100%;
    min-height: 1920px;
    .hello-admin-pic{
      padding: 30px;
      display: flex;
      margin: 0 auto !important;
      width: 50%;
      height: 50%;
    }
  }
  .main-body{
    width: 100%;
    height: 100%;
  }
  .right-column{
    padding:0px;
  }
  h1{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 800 ;
    text-align: center !important;
  }
    
}
@media (max-width: 760px) {
  .container-manage-book{
    padding: 0;
    width: 100% !important;
    height: 100% !important;
      .leftbar-add-column{
        height: 100% !important;
        padding: 0px 0px 0px 0px !important;
        border:none !important;
      }
  }
  .temporary-display{
    height: 100% !important;
    .hello-admin-pic{
      width: 100% !important;
      height: 100% !important;
    }
  }
}