.container{
  max-width:100%;
  padding: 0px !important;
  align-items: center !important;
  background-color: #0E0D27;
  h1{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 800 ;
    text-align: center !important;
  }
  .login-col{
    padding-top: 60px;
    align-items: center !important;
    h2{
      text-align: center !important;
      font-size: 2rem;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .login-page{
      display: flex !important;
      align-items: center !important;
      width: 100% !important;
      margin-top: 60px;
    }
    .form-login-card{
      width: 100% ;
      .login-label{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .input-field{
        height:50px;
        background-color: #c4c4c46e;
        float: right;
        border-radius: 10px;
        font-weight: 700;
        font-size: 1.5rem;
        padding-left: 30px;
      }
      .login-button{
        margin-top: 20px;
        width: 100px;
        height: 50px !important;
        float: right;
        border-radius: 50px;
        outline: none;
        font-weight:700;
        font-size: 1.5rem;
        background-color:#613EB0 ;
        border:none;
      }
    }
  }
  
}
