.bar {
  width: 70px !important;
}
.diagram {
  padding: 60px ;
}
.diagram .background {
  background-color: aliceblue;
  padding: 10px;
}
.diagram h3 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.diagram .diagram-area {
  padding: 0px 180px 0px 180px;
}
@media (max-width: 1080px) {
  .diagram {
    padding: 60px !important;
  }
  .diagram .diagram-area {
    padding: 0px 0px 0px 0px;
  }
}
