.bar{
  width: 70px !important;
}
// .element {
//   display: block;
//   box-sizing: border-box;
//   height: 328px;
//   width: 400px !important;
// }

.diagram{
  padding: 60px !important;
  .background{
    background-color: aliceblue;
    padding: 10px;
  }
  h3{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
}