.container {
  max-width: 100%;
  margin-right: 10px;
  margin-left: auto;
  background-color: #0E0D27 !important;
  height: 1920px;
  padding: 60px 0px 0px 60px ;
}
.container .leftbar-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.container .leftbar-column .left-bar-menus {
  background-color: #0E0D27;
  height: 100% !important;
  padding: 25px 0px 0px 0px !important;
  border-right: 5px solid #613EB0;
}
.container .leftbar-column .left-bar-menus ul {
  padding: 0;
  margin: 0;
}
.container .leftbar-column .left-bar-menus .left-bar-menu {
  height: 80px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  text-align: center;
  border-bottom: 5px solid #613EB0;
}
.container .leftbar-column .left-bar-menus .left-bar-menu .link-menu {
  text-decoration: none !important;
}
.container .leftbar-column .left-bar-menus .left-bar-menu .link-menu h2 {
  color: #FFFFFF;
  font-weight: 700;
  padding-left: 40px;
}
.container .leftbar-column .left-bar-menus .left-bar-menu:hover {
  background-color: #613EB0;
  text-decoration: none !important;
}
.borrow-form-column {
  padding-top: 60px;
}
.borrow-form-column h1 {
  text-align: left !important;
  padding: 0px 0px 0px 60px !important;
  margin: 0  auto !important;
}
.main-display {
  display: block !important;
  margin: 0  auto !important;
  align-items: center !important;
}
.main-display .borrow-img {
  display: flex !important;
  align-items: center !important;
  width: 50% !important;
  height: 50% !important;
  margin: 0 auto !important;
  padding-top: 30px;
}
@media (max-width: 760px) {
  .container {
    padding: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .container .leftbar-menu {
    height: 100% !important;
    padding: 0px 0px 0px 0px !important;
    border: none !important;
  }
}
