.left-bar-menu {
  background-color: aquamarine;
}
.container {
  max-width: 100%;
  margin-right: 10px;
  margin-left: auto;
  background-color: #0E0D27 !important;
  height: 1920px;
  padding: 60px 0px 0px 60px !important;
}
