.navbar-container {
  background-color: #0E0D27 !important;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 80px!important;
}
.navbar-container .navbar-a {
  margin: 0 auto !important;
  padding: 10px 10px 10px 40px !important;
}
.navbar-container .navbar-a .home {
  color: #FFFFFF !important;
  font-size: 3rem !important;
  font-weight: 800 !important;
  text-decoration: none;
}
.navbar-container .menus {
  background: transparent;
  border: 1px transparent solid !important;
  margin: 0 !important;
  height: 60px !important;
  width: 180px !important;
}
.navbar-container .menus .menu {
  text-decoration: none !important;
  color: #FFFFFF !important;
  display: block;
  padding: 0px 0px 10px 0px!important;
}
.navbar-container .menus a {
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 700 !important;
  font-size: 1.5rem;
  margin-top: 10px !important;
}
.navbar-container .menus:hover {
  border: 5px #613EB0 solid !important;
  height: 55px!important;
  align-items: center !important;
  top: 30px  !important;
  border-radius: 50px !important;
  text-align: center !important;
  padding: 0px 0px 0px 0px !important;
  margin: 0px !important;
}
.navbar-container .menus:hover a {
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 700 !important;
  font-size: 1.5rem;
  margin-top: 6px !important;
}
.navbar-light .navbar-toggler-icon {
  background-color: #ffff;
  background-image: none !important;
  -webkit-mask-image: url(/home/dhifaf/Documents/tubes-basdat/frontend/pro-libra/src/assets/Images/sliders-h-solid.svg) !important;
  mask-image: url(/home/dhifaf/Documents/tubes-basdat/frontend/pro-libra/src/assets/Images/sliders-h-solid.svg);
}
.navbar-collapse {
  max-height: 340px;
  background-color: #0E0D27;
  overflow-x: visible;
  align-items: center;
  padding: 0 30px 0 0 !important;
  margin-top: 10px !important;
}
@media (max-width: 980px) {
  .ml-auto {
    float: none !important;
    align-items: center !important;
    max-width: 100% !important;
  }
  .menus {
    background: transparent;
    border: 1px transparent solid !important;
    margin: 15px 10px 15px 10px !important;
  }
  .menus:hover {
    height: 20px!important;
    margin: 10px 5px 10px 5px !important;
  }
}
